# Supabase — publishable/anon kljuc (smije biti javan, RLS stiti podatke)
VITE_SUPABASE_URL=https://thuamsmvqdngemdkrftk.supabase.co
VITE_SUPABASE_ANON_KEY=sb_publishable_qS0XGaif-lQ_alm37J_53A_L1Do7d5O
